<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ogrencibilgiyonetimsistemi.Properties.Settings.ogrenci_bilgi_yonetimConnectionString"
            connectionString="Data Source=DESKTOP-U5TLUJP;Initial Catalog=ogrenci_bilgi_yonetim;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>